body {
    margin: 15px;
}

.timestamp {
    margin-bottom: 15px;
    cursor: pointer;
}

.hide {
    display: none;
}

.back_button {
    margin-bottom: 15px;
}

.time_input {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#new_button,
#editNote_backButton,
#newTimestamp_backButton,
#createTimestamp_backButton,
#createTimestamp_textarea {
    margin-bottom: 15px;
}

#editTimestamp_delete:hover {
    text-decoration: underline;
    cursor: pointer;
}

.time {
    background-color: #3f4144;
    color: white;
    padding: 5px 7px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#editTimestamp_header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.note_preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timestamp {
    position: relative;
}

#editTimestamp_header {
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    height: 45px;
}

#editTimestamp_delete {
    color: #d43939;
    right: 0;
}

a.time {
    position: absolute;
    top: 0;
    left: 0;
}

.card.timestamp {
    padding-top: 45px;
}

#save_button {
    background-color: #3f4144;
    color: white;
    width: 100%;
}